In [1]:
%reset -f
!pyclean .

Cleaning directory .
Total 2 files, 1 directories removed.

In [2]:
from utils import *
%matplotlib inline

In [3]:
no_bg_meta = pd.read_csv(os.path.join(DATA_DIRECTORY,"no_background","no_background.csv"),index_col="image_id")
no_bg_meta.head(1)

                                  spacecraft_id  xmin  ymin  xmax  ymax
image_id
23c7f89d00006caee536a22e5807de95              5   994   596  1079   705

In [4]:
no_bg_meta = pd.read_csv(os.path.join(DATA_DIRECTORY,"no_background","no_background.csv"),index_col="image_id").sort_index()
spacecraft_image = [os.path.join(DATA_DIRECTORY,"no_background", "images", i) + ".png" for i in no_bg_meta.index][:40]
spacecraft_bbox = [[k["xmin"], k["ymin"], k["xmax"], k["ymax"]] for i,k in no_bg_meta.iterrows()][:40]
spacecraft_classification = [k["spacecraft_id"]for i,k in no_bg_meta.iterrows()][:40]
spacecraft_mask = [os.path.join(DATA_DIRECTORY,"no_background", "images",i) for i in os.listdir(os.path.join(DATA_DIRECTORY,"no_background", "mask"))]

In [5]:
# from tensorflow.keras.utils import to_categorical

# train_labels_one_hot = to_categorical([1], num_classes=30)

In [6]:
model = create_classification_model(num_classes=30)
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 222, 222, 32)      207392

 max_pooling2d (MaxPooling2D  (None, 111, 111, 32)     0
 )

 conv2d_1 (Conv2D)           (None, 109, 109, 16)      4624

 max_pooling2d_1 (MaxPooling  (None, 54, 54, 16)       0
 2D)

 conv2d_2 (Conv2D)           (None, 52, 52, 8)         1160

 max_pooling2d_2 (MaxPooling  (None, 26, 26, 8)        0
 2D)

 flatten (Flatten)           (None, 5408)              0

 dense (Dense)               (None, 128)               692352

 dense_1 (Dense)             (None, 30)                3870

=================================================================
Total params: 909,398
Trainable params: 909,398
Non-trainable params: 0
_________________________________________________________________

In [7]:
dataset = class_fpn_datasets(spacecraft_image, spacecraft_classification, num_classes=30, batch_size=2)

In [8]:
model.compile(optimizer='adam',
                loss='categorical_crossentropy',  # Use 'sparse_categorical_crossentropy' if your labels are integers
                metrics=['accuracy'])

In [9]:
model.fit(dataset, epochs=1)

10/10 [==============================] - 21s 96ms/step - loss: 9.3127 - accuracy: 0.0500

`successfully works`